body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

#root {
  position: relative;
}

.p-datatable .p-datatable-header {
  background-color: transparent;
}

.p-datatable .p-datatable-tbody>tr {
  background-color: transparent;
}

.p-datatable .p-datatable-thead>tr>th {
  background-color: transparent;
}

.p-card {
  background-color: #17212f5D;
}

.p-card .p-card-subtitle {
  font-weight: 400 !important;
}